
@media (max-width: 1280px) {
	
}
@media (max-width: 1200px) {
     
}
@media (max-width: 1024px) {
  
}
 @media (max-width: 991.9px) {
    
}

 @media (max-width: 767px) {
    .navbar-collapse div {
        text-align: center;
    }
    .navbar.navbar-expand-lg {
    width: 94%;
}
.container.pt-5 {
    padding-top: 100px !important;
}
.pdf-compressor .card.p-4 {
    padding: 15px 15px !important;
    padding-bottom: 0 !important;
}
}
	