/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

  body {
      background: #f8f9fa;
    }

    .tool-card {
      transition: 0.3s;
    }

    .tool-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    .preview-img {
      height: 150px;
      object-fit: cover;
      width: 100%;
      border-radius: 6px
    }

    .card-small {
      min-height: 320px
    }

    .size-note {
      font-size: 0.9rem;
      color: #555
    }

    nav {
      margin-bottom: 25px;
    }
    .navbar.navbar-expand-lg {
         position: fixed;
top: 15px;
left: 0;
right: 0;
width: 90%;
margin: 0 auto;
z-index: 10000;
    }
    .container.pt-5 {
        padding-top: 130px !important;
    }